* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    height: 100vh;
}

.main_container {
    position: absolute;
    top: 6rem;
    left: 5rem;
}

h1 {
    font-size: 3.5rem;
    color: #333333;
    margin-bottom: 12px;
}

.search_bar {
    height: 50px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    display: flex;
    padding: 4px 20px;
    align-items: center;
    box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.search_bar input {
    flex: 1;
    background-color: transparent;
    outline: none;
    font-size: 1.7rem;
    border: none;
    color: #514C4C;
}

.search-button {
    cursor: pointer;
    color: rgb(153, 153, 153);
    margin-left: 12px;
    font-size: xx-large;
    height: fit-content;

    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    color: grey;
    transform: scale(1.1);
}

.search_container {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
}

.stores-list-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-height: 560px;
    overflow-y: scroll;

    scrollbar-width: none;

}


.stores-list-container::-webkit-scrollbar {
    display: none;
}


.stores-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px 0;
}

.store-list-box {
    min-height: 100px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    transition: background-color 0.2s ease-in;
}

.store-list-box:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.address-line1,
.address-line2 {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.75);
}

.phone {
    margin-top: 16px;
}

.store-info-number {
    background-color: #1A73E8;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 50%;
}


.store-info-window {
    min-width: 200px;

}

.store-info-name {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
}

.store-info-status {
    font-weight: 400;
    padding-bottom: 4px;
    margin-bottom: 12px;
    color: rgba(0, 0, 0, 0.45);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.store-info-address,
.store-info-phone {
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    cursor: pointer;
}

.store-info-address a,
.store-info-phone a {
    text-decoration: none;
    color: black;
}

.icon {
    background-color: #1A73E8;
    margin-right: 8px;
    padding: 2px 4px;
    color: white;
    border-radius: 4px;
}

.find-stores-list {
    color:rgba(0, 0, 0, 0.45);
    margin-top: 24px;
    margin-left: 20px;
    font-style: italic;
}